body {
    background-color: black;
}


h1 {
font-family: sans-serif;
color: orange;
font-size: 70px;
font-style: normal;
text-align: center;
}



p{
    color: white;
    font-size: 30px;
    text-align: center;
}


.Start {
background-color: black;
color: white;
font-size: 30px;
border: none;
padding: 10px 20px;
border-radius: 5px;
  
}

.Termin {
    background-color: black;
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    }

.Preisliste {
    background-color: black;
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    }

.Bewertungen {
    background-color: black;
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    }


.Fotogalerie {
    background-color: black;
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    }