body {
    background-color: black;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: difference;
}


h1 {
font-family: 'Arial', sans-serif;
color: orange;
font-size: 70px;
font-style: normal;
text-align: center;
margin-top: 30px;
padding: 10px;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
letter-spacing: 2px;
}



p{
    color: white;
    background-color: black;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 5px orange;
    padding: 10px;
}


.Start {
background-color: black;
color: white;
font-size: 30px;
border: none;
padding: 10px 20px;
border-radius: 5px;
font-family: sans-serif;
text-shadow: 2px 2px 5px orange;
padding: 10px;
}

.Termin {
    background-color: black;
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px orange;
    padding: 10px;
    }

.Preisliste {
    background-color: black;
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px orange;
    padding: 10px;
    }

.Bewertungen {
    background-color: black;
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px orange;
    padding: 10px;
    }


.Fotogalerie {
    background-color: black;
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px orange;
    padding: 10px;
    }


button:hover{
   background-color: orange;
} 
