body {
background-color: black;
}


h1{
font-family: 'Arial', sans-serif;
color: orange;
font-size: 70px;
font-style: normal;
text-align: center;
margin-top: 30px;
padding: 10px;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
letter-spacing: 2px;
}

h2 {
    font-family: sans-serif;
    color: orange;
    font-size: 40px;
    text-align: left;
    margin-left: 90px;
    margin-top: 75px;
    text-decoration: underline;
}


label {
  display: block;
  margin-bottom: 8px;
  margin-left: 90px;
  font-size: 20px;
  color: orange;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.Kontaktdaten{
  color: orange;
  margin-left: 90px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: dashed;
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.my-form * {
  box-sizing: border-box;
  font-family: sans-serif;
}

.my-form {
  max-width: 500px;
  padding: 0 1.5rem;
  margin-left: 65px;
}

.my-form label {
  display: block;
  padding: 1.2rem 0 0.2rem 0;
  font-weight: 700;
  font-size: 1rem;
  color: orange;
}

.my-form input, .my-form textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.7rem;
  background-color: #fff;
  border: 3px solid #D1D5DB;
  outline: none;
  border-radius: 0.5rem;
  color: #000;
  transition: 300ms border;
}

.my-form textarea {
  resize: none;
}

.my-form input:focus, .my-form textarea:focus {
  background-color: #fff;
  border-color: orange;
}

.my-form input:focus:required:invalid {
  background-color: #fff;
  border-color: orange;
}

.my-form .btns-row {
  margin-top: 1rem;
  text-align: right;
}

.my-form button {
  display: inline-block;
  padding: 0.65rem 1rem;
  border-radius: 0.5rem;
  border-color: transparent;
  background-color: #2563EB;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  transition: 300ms background;
  cursor: pointer;
}

.my-form button:hover {
  background-color: #3B82F6;
}


.Adresse{
  text-align: center;
  margin-top: -1230px;
  margin-left: 280px;
  color: orange;
  font-size: 40px;
  font-weight: bold;
  text-decoration: dashed;
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.Straße{
  text-align: center;
  color: orange;
  margin-right: -470px;
  font-size: 26pxpx;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  ;
}


iframe{
  position: relative; /* notwendig für top/left */
        top: 10px;          /* nach unten verschieben */
        left: 1000px;         /* nach rechts verschieben */
        border: 50px solid orange;
        width: 400px;
        height: 300px;
}











